.square {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

   

}

.piece {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 10; 
    /*make sure we drag is piece, not square*/
    box-sizing: border-box;
}
path{
    position: relative;
    z-index: -11;

}

.background-size{
    background-size: 30px 30px;
}


.game-board {
    width: 400px; 
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

#display {
    font-size: 24px;
    margin-top: 20px;
}

#scoreBox {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#redScore, #blackScore {
    font-size: 18px;
}

#redScore {
    color: red;
}

#blackScore {
    color: black;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}